li a 
{
    display: block;
    color: white;
    text-align: center;
    padding:16px;
    text-decoration: none;
}

.logo
{
    list-style-type: none;
    float:left;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li 
{
   float: left;
}
.menu1{
	
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a:hover {
    background-color: #111;
}

footer 
{
    position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
